{{ define "admin/imonial.html" }}

    {{ template  "admin/header" }}

    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">用户</label>
            <div class="layui-input-block">
                <input type="text" name="user" lay-verify="required" placeholder="请输入" autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">留言</label>
            <div class="layui-input-block">
                <textarea name="word" placeholder="请输入内容" lay-verify="required" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit lay-filter="demo1">添加</button>
            </div>
        </div>
    </form>


    <!-- 原始容器 -->
    <table id="test" lay-filter="test"></table>

    <!-- 工具栏模板 -->
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
        </div>
    </script>

    <script>
        layui.use(function () {
            var table = layui.table;
            var layer = layui.layer;
            var form = layui.form;
            var util = layui.util;

            // 已知数据渲染
            var inst = table.render({
                elem: '#test',
                url: '/admin/api/imonial',
                cols: [[ //标题栏
                    {field: 'ID', title: 'ID', width: 80, sort: true},
                    {field: 'User', title: '用户', width: 120, sort: true},
                    {field: 'Word', title: '留言', minWidth: 160},
                    {title: '操作', width: 85, align: 'center', toolbar: '#toolbarDemo'},
                ]],
            });

            table.on('tool(test)', function (obj) {
                console.log(obj.data); // 查看对象所有成员

                if (obj.event === "delete") {
                    layer.confirm('真的删除 [id: ' + obj.data.ID + '] 么', function (index) {
                        layer.close(index);
                        // 向服务端发送删除指令
                        fetch('/admin/api/imonial/delete/' + obj.data.ID).then(response => response.json())
                            .then(data => layer.msg(data.msg))
                            .catch(err => layer.msg(err))
                            .finally(table.reloadData('test'));
                    });
                }

            });

            // 提交事件
            form.on('submit(demo1)', function (data) {
                var field = data.field; // 获取表单字段值
                console.log(field);

                const formData = new FormData();
                formData.append('user', field.user);
                formData.append('word', field.word);

                fetch('/admin/api/imonial/add', {
                    method: 'POST',
                    body: formData
                }).then(response => response.json())
                    .then(data => layer.msg(data.msg))
                    .catch(err => layer.msg(err))
                    .finally(table.reloadData('test'));

                return false; // 阻止默认 form 跳转
            });

        });

    </script>

    {{ template  "admin/footer" }}

{{ end }}