.elementor-8312 .elementor-element.elementor-element-91507ad {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-footer .total {
    display: flex;
    font-family: var( --e-global-typography-el_subtitle_2-font-family), Sans-serif;
    font-size: var( --e-global-typography-el_subtitle_2-font-size);
    font-weight: var( --e-global-typography-el_subtitle_2-font-weight);
    text-transform: var( --e-global-typography-el_subtitle_2-text-transform);
    font-style: var( --e-global-typography-el_subtitle_2-font-style);
    text-decoration: var( --e-global-typography-el_subtitle_2-text-decoration);
    line-height: var( --e-global-typography-el_subtitle_2-line-height);
    letter-spacing: var( --e-global-typography-el_subtitle_2-letter-spacing);
    justify-content: space-between;
    padding: 20px 0;
    background: #ffffff00
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-footer .the7-e-button-view-cart {
    display: flex
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-footer .the7-e-button-checkout {
    display: flex
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-empty-cart-button-shop {
    display: flex
}

.elementor-8312 .elementor-element.elementor-element-31545a4 {
    --the7-img-position: var(--position);
    --the7-img-object-fit: var(--object-fit);
    --the7-img-width: var(--ratio-img-width);
    --the7-img-height: var(--ratio-img-height);
    --the7-img-max-height: var(--max-height);
    --the7-img-max-width: var(--max-width);
    --box-width: var(--image-size, var(--ratio-img-width));
    --the7-img-ratio: var(--aspect-ratio, var(--ratio));
    --min-height: 200px;
    --max-height: 85vh;
    --title-visibility-filled: flex;
    --scrollbar-thumb-color: var( --e-global-color-el_color_7_4);
    --scrollbar-thumb-hover-color: var( --e-global-color-el_color_7_2)
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-button-view-cart .box-button,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-button-view-cart .box-button .popup-icon,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-button-view-cart .box-button:hover,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-button-view-cart .box-button:focus,
.elementor-8312 .elementor-element.elementor-element-31545a4 .box-hover:hover .the7-e-button-view-cart .box-button {
    background: #ffffff00
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-button-view-cart .box-button.elementor-button:hover,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-button-view-cart .box-button.elementor-button:focus,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-button-view-cart .box-button.elementor-button:hover .popup-icon,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-button-view-cart .box-button.elementor-button:focus .popup-icon,
.elementor-8312 .elementor-element.elementor-element-31545a4 .box-hover:hover .the7-e-button-view-cart .box-button.elementor-button,
.elementor-8312 .elementor-element.elementor-element-31545a4 .box-hover:hover .the7-e-button-view-cart .box-button.elementor-button .popup-icon {
    background: var( --e-global-color-el_color_1)
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-empty-cart-button-shop.box-button,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-empty-cart-button-shop.box-button .popup-icon,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-empty-cart-button-shop.box-button:hover,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-empty-cart-button-shop.box-button:focus,
.elementor-8312 .elementor-element.elementor-element-31545a4 .box-hover:hover .the7-e-empty-cart-button-shop.box-button {
    background: #ffffff00
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-empty-cart-button-shop.box-button.elementor-button:hover,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-empty-cart-button-shop.box-button.elementor-button:focus,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-empty-cart-button-shop.box-button.elementor-button:hover .popup-icon,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-empty-cart-button-shop.box-button.elementor-button:focus .popup-icon,
.elementor-8312 .elementor-element.elementor-element-31545a4 .box-hover:hover .the7-e-empty-cart-button-shop.box-button.elementor-button,
.elementor-8312 .elementor-element.elementor-element-31545a4 .box-hover:hover .the7-e-empty-cart-button-shop.box-button.elementor-button .popup-icon {
    background: var( --e-global-color-el_color_1)
}

.elementor-8312 .elementor-element.elementor-element-31545a4>.elementor-widget-container {
    padding: 60px
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-product>.product-thumbnail {
    display: flex;
    order: 0;
    --thumbnail-margin: 0 var(--thumbnail-spacing, 15px) 0 0;
    --image-size: 70px;
    --thumbnail-spacing: 20px
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-product>.product-remove {
    display: block
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-product .product-quantity {
    display: flex
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-product .product-price {
    flex-direction: column-reverse;
    --product-quantity-change-margin: var(--quantity-change-spacing) 0 0 0;
    --product-price-quantity-margin: var(--product-price-quantity-spacing) 0 0 0;
    --product-price-quantity-spacing: 10px;
    --quantity-change-spacing: 10px
}

.elementor-8312 .elementor-element.elementor-element-31545a4.widget-divider-yes .the7-e-woo-cart-content>.the7-e-mini-cart-product:not(:first-child):not(:last-child) {
    margin-top: calc(0px/2);
    margin-bottom: calc(0px/2)
}

.elementor-8312 .elementor-element.elementor-element-31545a4:not(.widget-divider-yes) .the7-e-woo-cart-content>.the7-e-mini-cart-product:not(:first-child) {
    margin-top: 0
}

.elementor-8312 .elementor-element.elementor-element-31545a4:not(.widget-divider-yes) .the7-e-woo-cart-content>div:last-of-type {
    margin-bottom: 0
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .title-text {
    align-items: center;
    min-height: 40px;
    font-family: var( --e-global-typography-el_subtitle_2-font-family), Sans-serif;
    font-size: var( --e-global-typography-el_subtitle_2-font-size);
    font-weight: var( --e-global-typography-el_subtitle_2-font-weight);
    text-transform: var( --e-global-typography-el_subtitle_2-text-transform);
    font-style: var( --e-global-typography-el_subtitle_2-font-style);
    text-decoration: var( --e-global-typography-el_subtitle_2-text-decoration);
    line-height: var( --e-global-typography-el_subtitle_2-line-height);
    letter-spacing: var( --e-global-typography-el_subtitle_2-letter-spacing);
    color: var( --e-global-color-el_color_7_2);
    padding: 0 0 20px;
    margin: 0;
    border-style: solid;
    border-width: 0 0 1px;
    border-color: var( --e-global-color-el_color_7_4);
    background: #00000000
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-product {
    padding: 20px 0;
    border-style: solid;
    border-width: 0 0 1px;
    border-color: var( --e-global-color-el_color_7_4)
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-button-view-cart {
    width: 50%
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-button-checkout {
    width: 50%
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-product .cart-info .product-name {
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.2em
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-product .cart-info .product-name a {
    color: var( --e-global-color-el_color_7)
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-product .cart-info .product-price>.quantity .amount {
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.2em;
    color: var( --e-global-color-el_color_7_2)
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-empty-cart-button-shop.box-button {
    align-self: center;
    border-style: solid;
    border-width: 1px;
    margin-top: 40px
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-product .cart-info .product-price>.quantity .product-item-quantity,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-product .cart-info .product-price>.quantity .quantity-separator {
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.2em;
    color: var( --e-global-color-el_color_7_2)
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-product .variation {
    font-size: 12px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.6em;
    margin-top: 10px
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-product .product-quantity .quantity .qty {
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.2em;
    color: var( --e-global-color-el_color_7)
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-product .product-quantity .quantity {
    min-width: 70px;
    padding: 0;
    border-radius: 0 0 0 0;
    border-color: var( --e-global-color-el_color_7_4);
    --quantity-btn-width: 18px;
    --quantity-btn-height: 18px;
    --quantity-btn-border-width: 0px
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-product .product-quantity .quantity button {
    font-size: 18px;
    width: 18px;
    height: 18px !important;
    border-radius: 100% 100% 100% 100% !important;
    color: var( --e-global-color-el_color_7_2)
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-product .product-quantity .quantity button:hover {
    color: var( --e-global-color-el_color_7)
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-product .product-remove>.remove_from_cart_button {
    left: auto;
    right: 0;
    margin-right: var(--zoom-h-offset, 0);
    --zoom-h-offset: 0px;
    bottom: auto;
    top: 0;
    margin-top: var(--zoom-v-offset, 0);
    --zoom-v-offset: 20px;
    padding: 0;
    border-radius: 100% 100% 100% 100%;
    background: #00000000
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-product .product-remove>.remove_from_cart_button .the7_template_icon_remove {
    font-size: 18px;
    line-height: 1;
    width: 18px;
    height: 18px
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-product .product-remove>.remove_from_cart_button .the7_template_icon_remove svg {
    width: 18px;
    height: 18px
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-product .product-remove>.remove_from_cart_button i {
    color: var( --e-global-color-el_color_7_2)
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-product .product-remove>.remove_from_cart_button svg {
    fill: var( --e-global-color-el_color_7_2);
    color: var( --e-global-color-el_color_7_2)
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-product .product-remove>.remove_from_cart_button:hover i {
    color: var( --e-global-color-el_color_7)
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-product .product-remove>.remove_from_cart_button:hover svg {
    fill: var( --e-global-color-el_color_7);
    color: var( --e-global-color-el_color_7)
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-footer .total .amount {
    font-family: var( --e-global-typography-el_title_5-font-family), Sans-serif;
    font-size: var( --e-global-typography-el_title_5-font-size);
    font-weight: var( --e-global-typography-el_title_5-font-weight);
    text-transform: var( --e-global-typography-el_title_5-text-transform);
    font-style: var( --e-global-typography-el_title_5-font-style);
    text-decoration: var( --e-global-typography-el_title_5-text-decoration);
    line-height: var( --e-global-typography-el_title_5-line-height)
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .woocommerce-mini-cart__buttons .the7-e-wc-button-wrap {
    padding-right: calc( 20px/2);
    padding-left: calc( 20px/2);
    margin-bottom: 20px
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .woocommerce-mini-cart__buttons {
    margin-left: calc( -20px/2);
    margin-right: calc( -20px/2);
    margin-bottom: -20px
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .woocommerce-mini-cart__buttons_wrapper {
    padding: 0
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-button-view-cart .box-button {
    border-style: solid;
    border-width: 1px
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-button-view-cart .box-button,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-button-view-cart .box-button * {
    color: var( --e-global-color-el_color_1)
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-button-view-cart .box-button svg {
    fill: var( --e-global-color-el_color_1);
    color: var( --e-global-color-el_color_1)
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-button-view-cart .box-button,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-button-view-cart .box-button:hover,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-button-view-cart .box-button:focus,
.elementor-8312 .elementor-element.elementor-element-31545a4 .box-hover:hover .the7-e-button-view-cart .box-button {
    border-color: var( --e-global-color-el_color_1)
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-button-view-cart .box-button.elementor-button:hover,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-button-view-cart .box-button.elementor-button:focus,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-button-view-cart .box-button.elementor-button:hover *,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-button-view-cart .box-button.elementor-button:focus *,
.elementor-8312 .elementor-element.elementor-element-31545a4 .box-hover:hover .the7-e-button-view-cart .box-button.elementor-button,
.elementor-8312 .elementor-element.elementor-element-31545a4 .box-hover:hover .the7-e-button-view-cart .box-button.elementor-button * {
    color: var( --e-global-color-el_color_9)
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-button-view-cart .box-button.elementor-button:hover svg,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-button-view-cart .box-button.elementor-button:focus svg,
.elementor-8312 .elementor-element.elementor-element-31545a4 .box-hover:hover .the7-e-button-view-cart .box-button.elementor-button svg {
    fill: var( --e-global-color-el_color_9);
    color: var( --e-global-color-el_color_9)
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-button-view-cart .box-button.elementor-button:hover,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-button-view-cart .box-button.elementor-button:focus,
.elementor-8312 .elementor-element.elementor-element-31545a4 .box-hover:hover .the7-e-button-view-cart .box-button.elementor-button {
    border-color: var( --e-global-color-el_color_1)
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-woo-cart-empty-cart {
    margin: 40px
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-woo-cart-empty-cart .the7-e-woo-cart-empty-cart-icon {
    font-size: 48px;
    color: var( --e-global-color-el_color_7_2);
    margin-top: 0
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-woo-cart-empty-cart .the7-e-woo-cart-empty-cart-icon svg {
    width: 48px;
    fill: var( --e-global-color-el_color_7_2);
    color: var( --e-global-color-el_color_7_2)
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-woo-cart-empty-cart .the7-e-woo-cart-empty-cart-text {
    font-family: var( --e-global-typography-el_title_6-font-family), Sans-serif;
    font-size: var( --e-global-typography-el_title_6-font-size);
    font-weight: var( --e-global-typography-el_title_6-font-weight);
    text-transform: var( --e-global-typography-el_title_6-text-transform);
    font-style: var( --e-global-typography-el_title_6-font-style);
    text-decoration: var( --e-global-typography-el_title_6-text-decoration);
    line-height: var( --e-global-typography-el_title_6-line-height);
    color: var( --e-global-color-el_color_7_2);
    margin-top: 20px
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-empty-cart-button-shop.box-button,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-empty-cart-button-shop.box-button * {
    color: var( --e-global-color-el_color_1)
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-empty-cart-button-shop.box-button svg {
    fill: var( --e-global-color-el_color_1);
    color: var( --e-global-color-el_color_1)
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-empty-cart-button-shop.box-button,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-empty-cart-button-shop.box-button:hover,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-empty-cart-button-shop.box-button:focus,
.elementor-8312 .elementor-element.elementor-element-31545a4 .box-hover:hover .the7-e-empty-cart-button-shop.box-button {
    border-color: var( --e-global-color-el_color_1)
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-empty-cart-button-shop.box-button.elementor-button:hover,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-empty-cart-button-shop.box-button.elementor-button:focus,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-empty-cart-button-shop.box-button.elementor-button:hover *,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-empty-cart-button-shop.box-button.elementor-button:focus *,
.elementor-8312 .elementor-element.elementor-element-31545a4 .box-hover:hover .the7-e-empty-cart-button-shop.box-button.elementor-button,
.elementor-8312 .elementor-element.elementor-element-31545a4 .box-hover:hover .the7-e-empty-cart-button-shop.box-button.elementor-button * {
    color: var( --e-global-color-el_color_9)
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-empty-cart-button-shop.box-button.elementor-button:hover svg,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-empty-cart-button-shop.box-button.elementor-button:focus svg,
.elementor-8312 .elementor-element.elementor-element-31545a4 .box-hover:hover .the7-e-empty-cart-button-shop.box-button.elementor-button svg {
    fill: var( --e-global-color-el_color_9);
    color: var( --e-global-color-el_color_9)
}

.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-empty-cart-button-shop.box-button.elementor-button:hover,
.elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-empty-cart-button-shop.box-button.elementor-button:focus,
.elementor-8312 .elementor-element.elementor-element-31545a4 .box-hover:hover .the7-e-empty-cart-button-shop.box-button.elementor-button {
    border-color: var( --e-global-color-el_color_1)
}

#elementor-popup-modal-8312 .dialog-widget-content {
    animation-duration: .4s;
    background-color: var( --e-global-color-el_color_9);
    width: 600px;
    border-radius: 40px 0 40px 0;
    box-shadow: 0 0 60px 30px #845aff
}

#elementor-popup-modal-8312 {
    background-color: #000000c2;
    justify-content: center;
    align-items: center;
    pointer-events: all
}

#elementor-popup-modal-8312 .dialog-message {
    width: 600px;
    height: auto;
    max-height: var(--the7-fit-height, 100vh);
    --scrollbar-thumb-color: var( --e-global-color-el_color_7_4);
    --scrollbar-thumb-hover-color: var( --e-global-color-el_color_7_2)
}

#elementor-popup-modal-8312 .dialog-close-button {
    display: flex;
    top: 15px;
    background-color: #00000000;
    font-size: 24px
}

body:not(.rtl) #elementor-popup-modal-8312 .dialog-close-button {
    right: 15px
}

body.rtl #elementor-popup-modal-8312 .dialog-close-button {
    left: 15px
}

#elementor-popup-modal-8312 .dialog-close-button i {
    color: var( --e-global-color-el_color_7_2)
}

#elementor-popup-modal-8312 .dialog-close-button svg {
    fill: var( --e-global-color-el_color_7_2)
}

@media(max-width:1300px) {
    .elementor-8312 .elementor-element.elementor-element-31545a4 .title-text {
        font-size: var( --e-global-typography-el_subtitle_2-font-size);
        line-height: var( --e-global-typography-el_subtitle_2-line-height);
        letter-spacing: var( --e-global-typography-el_subtitle_2-letter-spacing)
    }
    .elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-footer .total {
        font-size: var( --e-global-typography-el_subtitle_2-font-size);
        line-height: var( --e-global-typography-el_subtitle_2-line-height);
        letter-spacing: var( --e-global-typography-el_subtitle_2-letter-spacing)
    }
    .elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-footer .total .amount {
        font-size: var( --e-global-typography-el_title_5-font-size);
        line-height: var( --e-global-typography-el_title_5-line-height)
    }
    .elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-woo-cart-empty-cart .the7-e-woo-cart-empty-cart-text {
        font-size: var( --e-global-typography-el_title_6-font-size);
        line-height: var( --e-global-typography-el_title_6-line-height)
    }
}

@media(max-width:900px) {
    .elementor-8312 .elementor-element.elementor-element-31545a4>.elementor-widget-container {
        padding: 40px
    }
    .elementor-8312 .elementor-element.elementor-element-31545a4 .title-text {
        font-size: var( --e-global-typography-el_subtitle_2-font-size);
        line-height: var( --e-global-typography-el_subtitle_2-line-height);
        letter-spacing: var( --e-global-typography-el_subtitle_2-letter-spacing)
    }
    .elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-footer .total {
        font-size: var( --e-global-typography-el_subtitle_2-font-size);
        line-height: var( --e-global-typography-el_subtitle_2-line-height);
        letter-spacing: var( --e-global-typography-el_subtitle_2-letter-spacing)
    }
    .elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-footer .total .amount {
        font-size: var( --e-global-typography-el_title_5-font-size);
        line-height: var( --e-global-typography-el_title_5-line-height)
    }
    .elementor-8312 .elementor-element.elementor-element-31545a4 .woocommerce-mini-cart__buttons .the7-e-wc-button-wrap {
        padding-right: calc( 15px/2);
        padding-left: calc( 15px/2)
    }
    .elementor-8312 .elementor-element.elementor-element-31545a4 .woocommerce-mini-cart__buttons {
        margin-left: calc( -15px/2);
        margin-right: calc( -15px/2)
    }
    .elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-woo-cart-empty-cart .the7-e-woo-cart-empty-cart-text {
        font-size: var( --e-global-typography-el_title_6-font-size);
        line-height: var( --e-global-typography-el_title_6-line-height)
    }
    #elementor-popup-modal-8312 .dialog-message {
        width: 90vw
    }
    #elementor-popup-modal-8312 .dialog-widget-content {
        width: 90vw
    }
}

@media(max-width:600px) {
    .elementor-8312 .elementor-element.elementor-element-31545a4 .title-text {
        font-size: var( --e-global-typography-el_subtitle_2-font-size);
        line-height: var( --e-global-typography-el_subtitle_2-line-height);
        letter-spacing: var( --e-global-typography-el_subtitle_2-letter-spacing)
    }
    .elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-button-view-cart {
        width: 100%
    }
    .elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-button-checkout {
        width: 100%
    }
    .elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-footer .total {
        font-size: var( --e-global-typography-el_subtitle_2-font-size);
        line-height: var( --e-global-typography-el_subtitle_2-line-height);
        letter-spacing: var( --e-global-typography-el_subtitle_2-letter-spacing)
    }
    .elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-mini-cart-footer .total .amount {
        font-size: var( --e-global-typography-el_title_5-font-size);
        line-height: var( --e-global-typography-el_title_5-line-height)
    }
    .elementor-8312 .elementor-element.elementor-element-31545a4 .the7-e-woo-cart-empty-cart .the7-e-woo-cart-empty-cart-text {
        font-size: var( --e-global-typography-el_title_6-font-size);
        line-height: var( --e-global-typography-el_title_6-line-height)
    }
}