<!DOCTYPE html>
<html lang="en">

<head>
    <title>Signmate - PROFESSIONAL, RELIABLE, AFFORDABLE SIGNAGE.</title>

    {{ template "component/import_style" . }}

</head>
<body>

{{ template "component/preloader" . }}

{{ template "component/navbar" . }}

<!-- Header Banner -->
<section class="banner-header section-padding bg-img bg-fixed bg-img-position-top" data-overlay-dark="7" data-background="assets/images/slider/5.jpg">
    <div class="v-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mt-60">
                    <h1>About Us</h1>
                    <ul class="breadcrumbs">
                        <li><a href="#">Home</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- divider line -->
<div class="line-vr-section"></div>

<!-- About -->
<section class="about section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h6>Creative Agency</h6>
                <h1 class="text-black">Who We Are?</h1>
                <p class="text-black">Welcome to Signmate Limited. We pride ourselves on being a professional, reliable, affordable signage company.</p>
                <p class="text-black">We are committed to providing high end multimediadesign solutions for every business where as possible.

                    We passionately believe that every business deserves to look its best, we thrive on giving you (our clients) the visual impression you deserve.

                    Signmate specializes in cutting-edge multimedia solutions crafted by our team of skilled specialists. From concept to execution, we excel in creating and manipulating computer animation, audio, video, and graphic image files to produce dynamic multimedia programs tailored to meet a variety of needs.

                    Specialisations:
                </p>
                <!-- list -->
                <ul class="list-unstyled list mb-30 text-black">
                    <li>
                        <div class="list-icon"> <i class="fa-solid fa-check"></i> </div>
                        <div class="list-text">
                            <p>Window frosting & graphics</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-icon"> <i class="fa-solid fa-check"></i> </div>
                        <div class="list-text">
                            <p>3D Modeling</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-icon"> <i class="fa-solid fa-check"></i> </div>
                        <div class="list-text">
                            <p>Light box(es)</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-icon"> <i class="fa-solid fa-check"></i> </div>
                        <div class="list-text">
                            <p>Character Animation</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-icon"> <i class="fa-solid fa-check"></i> </div>
                        <div class="list-text">
                            <p>Interior / Exterior building signage</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-icon"> <i class="fa-solid fa-check"></i> </div>
                        <div class="list-text">
                            <p>Sound Design & Audio Production</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-icon"> <i class="fa-solid fa-check"></i> </div>
                        <div class="list-text">
                            <p>Data Visualization</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-icon"> <i class="fa-solid fa-check"></i> </div>
                        <div class="list-text">
                            <p>Brochures & Flyers</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-icon"> <i class="fa-solid fa-check"></i> </div>
                        <div class="list-text">
                            <p>Product Demo Video Production</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-icon"> <i class="fa-solid fa-check"></i> </div>
                        <div class="list-text">
                            <p>Business Cards (color, B & W & Laminated)</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-icon"> <i class="fa-solid fa-check"></i> </div>
                        <div class="list-text">
                            <p>Animated Logo Design</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-icon"> <i class="fa-solid fa-check"></i> </div>
                        <div class="list-text">
                            <p>Logo designs</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-icon"> <i class="fa-solid fa-check"></i> </div>
                        <div class="list-text">
                            <p>User Experience (UX) Design</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-icon"> <i class="fa-solid fa-check"></i> </div>
                        <div class="list-text">
                            <p>Car graphics & Wrapping</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-icon"> <i class="fa-solid fa-check"></i> </div>
                        <div class="list-text">
                            <p>Virtual Reality (VR)</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-icon"> <i class="fa-solid fa-check"></i> </div>
                        <div class="list-text">
                            <p>Posters / Banners and pull-up banners</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-icon"> <i class="fa-solid fa-check"></i> </div>
                        <div class="list-text">
                            <p>Augmented Reality (AR)</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-icon"> <i class="fa-solid fa-check"></i> </div>
                        <div class="list-text">
                            <p>Free Quote</p>
                        </div>
                    </li>
                </ul>
                <div class="brdr"></div>
                <div class="about-bottom">
                    <!-- <img src="assets/images/signature-dark.svg" class="image about-signature" alt=""> -->
                    <div class="about-name-wrapper">
                        <div class="about-name text-black">Come visit us today, email or call. Discover the professional designs, reliable service & affordable prices.</div>
                        <!-- <div class="about-rol">SEO / Founder</div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-5 wow fadeInUp" data-wow-delay=".6s">
                <div class="about-img">
                    <div class="img img-grayscale"> <img src="assets/images/about.jpg" class="img-fluid" alt=""> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- divider line -->
<div class="line-vr-section"></div>

<!-- About 2 -->
<section class="about2 section-padding bg-drk">
    <div class="container">
        <div class="row mb-30">
            <div class="col-md-8">
                <div class="item">
                    <div class="img img-grayscale"> <img src="assets/images/slider/6.jpg" class="img-fluid"> </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <div class="wrap">
                        <div class="img img-grayscale"> <img src="assets/images/office.jpg" class="img-fluid"> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>Who we are</h3>
                <p>Lorem posuere tortoran nisan sempere sceriun etiam ornare iros metusan the ravidane sodan vesaire lacus suscipit congue ornare.</p>
            </div>
            <div class="col-md-4">
                <h3>Our philosophy</h3>
                <p>Lorem posuere tortoran nisan sempere sceriun etiam ornare iros metusan the ravidane sodan vesaire lacus suscipit congue ornare.</p>
            </div>
            <div class="col-md-4">
                <h3>How we work</h3>
                <p>Lorem posuere tortoran nisan sempere sceriun etiam ornare iros metusan the ravidane sodan vesaire lacus suscipit congue ornare.</p>
            </div>
        </div>
    </div>
</section>

<!-- divider line -->
<div class="line-vr-section"></div>

{{ template "component/team" . }}

<!-- divider line -->
<div class="line-vr-section"></div>

{{ template "component/testiominal" . }}

<!-- divider line -->
<div class="line-vr-section"></div>

{{ template "component/talk" . }}

{{ template "component/footer" . }}

{{ template "component/import_script" . }}
</body>
</html>