<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signmate - PROFESSIONAL, RELIABLE, AFFORDABLE SIGNAGE.</title>

    {{ template "component/import_style" . }}

</head>
<body>

{{ template "component/preloader" . }}

{{ template "component/navbar" . }}

{{ template "component/slider" . }}

{{ template "component/client" . }}

{{ template "component/service" . }}

<!-- divider line -->
<div class="line-vr-section"></div>

{{ template "component/work" . }}

<!-- divider line -->
<div class="line-vr-section"></div>

{{ template "component/team" . }}

<!-- divider line -->
<div class="line-vr-section"></div>

{{ template "component/testiominal" . }}

<!-- divider line -->
<div class="line-vr-section"></div>

{{ template "component/faq" . }}

<!-- divider line -->
<div class="line-vr-section"></div>

{{ template "component/talk" . }}

<!-- divider line -->
<div class="line-vr-section"></div>

{{ template "component/footer" . }}

{{ template "component/import_script" . }}

</body>
</html>