<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signmate - PROFESSIONAL, RELIABLE, AFFORDABLE SIGNAGE.</title>

    {{ template "component/import_style" . }}

</head>
<body>

{{ template "component/preloader" . }}

{{ template "component/navbar" . }}

<!-- Header Banner -->
<section class="banner-header section-padding bg-img bg-fixed" data-overlay-dark="7"
         data-background="assets/images/blog/b1.jpg">
    <div class="v-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-60">
                    <h1>Shop Fitting</h1>
                    <ul class="breadcrumbs">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Services</a></li>
                        <li>Shop Fitting</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Services Page  -->
<section class="section-padding services-single">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h5>Summary</h5>
                <p>Wrapping is what we do, we have a skilled team who love to wrap just about anything, racing cars,
                    commercial vehicles, private vehicles and boats, you name it we can probably wrap it! Outstanding
                    affordable vehicle graphics can be an excellent source of new business for your company, the moving
                    advertisement that works 24x7 for your company and brand.

                    Car wrapping is more efficient and cost effective than spray painting your vehicle. Vehicle wraps
                    can be positioned nearly anywhere and can easily be removed without damage to the vehicle’s
                    underlying paintwork.

                    Vehicle wrapping with Signmate is the affordable solution when you are either refreshing your brand
                    or looking to establish a completely new look for your vehicle. A wrapped solution will cost
                    considerably less than a comparable paint job. Wrapped solutions offer a range of textures, colours
                    and finishes that exceed what is possible with a regular spray painted finish.

                    Wrapping can be applied to any vehicle by our team of qualified technicians, no job is too small and
                    we always deliver a quality car wrapped with a design of your choice.

                    Please call us at 09 415 6849 or email at admin@signmate.co.nz for a no obligation, free quote for
                    any vehicle graphic and wrapping that you need done.
                </p>
                <div class="list mt-30">
                    <ul class="disc">
                        <li>Lorem ipsum amet vehicula nectar.</li>
                        <li>Design vestibulum quis egestas soda.</li>
                    </ul>
                </div>
                <!-- Image Gallery -->
                <div class="row gallery-items">
                    <div class="col-md-12 gallery-masonry-wrapper single-item branding mb-30">
                        <a href="assets/images/services/1.png" title="" class="gallery-masonry-item-img-link img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"><img src="assets/images/services/1.png"
                                                              class="img-fluid mx-auto d-block" alt=""></div>
                                <div class="gallery-masonry-item-img"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row gallery-items">
                    <div class="col-md-6 gallery-masonry-wrapper single-item design mb-30">
                        <a href="assets/images/services/2.jpg" title="" class="gallery-masonry-item-img-link img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"><img src="assets/images/services/2.jpg"
                                                              class="img-fluid mx-auto d-block" alt=""></div>
                                <div class="gallery-masonry-item-img"></div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 gallery-masonry-wrapper single-item branding mb-30">
                        <a href="assets/images/services/3.jpg" title="" class="gallery-masonry-item-img-link img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"><img src="assets/images/services/3.jpg"
                                                              class="img-fluid mx-auto d-block" alt=""></div>
                                <div class="gallery-masonry-item-img"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 sidebar-side">
                <aside class="sidebar blog-sidebar">
                    <div class="sidebar-widget services">
                        <div class="widget-inner">
                            <ul>
                                <li><a href="services-single.html">Digital Strategy</a></li>
                                <li><a href="services-single.html">SEO Marketing</a></li>
                                <li class="active"><a href="services-single.html">Brand Indentity</a></li>
                                <li><a href="services-single.html">Media Planning</a></li>
                                <li><a href="services-single.html">Ecommerce</a></li>
                                <li><a href="services-single.html">Social Media</a></li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>

{{ template "component/talk" . }}

<!-- divider line -->
<div class="line-vr-section"></div>

{{ template "component/footer" . }}

{{ template "component/import_script" . }}
</body>
</html>