<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signmate - PROFESSIONAL, RELIABLE, AFFORDABLE SIGNAGE.</title>

    {{ template "component/import_style" . }}

</head>
<body>

{{ template "component/preloader" . }}

{{ template "component/navbar" . }}

<!-- Header Banner -->
<section class="banner-header section-padding bg-img bg-fixed bg-img-position-top" data-overlay-dark="5" data-background="assets/images/slider/2.jpg">
    <div class="v-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mt-60">
                    <h1>Services</h1>
                    <ul class="breadcrumbs">
                        <li><a href="index.html">Home</a></li>
                        <li>Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- divider line -->
<div class="line-vr-section"></div>

{{ template "component/service" . }}

<!-- divider line -->
<div class="line-vr-section"></div>

{{ template "component/testiominal" . }}

<!-- divider line -->
<div class="line-vr-section"></div>

{{ template "component/talk" . }}

<!-- divider line -->
<div class="line-vr-section"></div>

{{ template "component/footer" . }}

{{ template "component/import_script" . }}

</body>
</html>